<h1>Results page...</h1>

<h2><img src=" <%= details["data"]["poster_url"]%> " > </h2>
<h2> Title - <%= details["data"]["name"]%>  (<%= details["data"]["year"]%>) </h2>
<h2> IMDB Ratings - <%= details["data"]["rating"]%>   </h2>
<h2> Director - <%= details["data"]["director"]%>   </h2>
<h2> Cast - <%= details["data"]["stars"]%>   </h2>
<h2> Genre - <%= details["data"]["genre"]%>   </h2>
<h2> Plot - <%= details["data"]["plot"]%>   </h2>
